::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(200, 200, 200, 1);
    box-shadow: inset 0 0 6px rgba(200, 200, 200, 1);
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: rgb(221, 221, 221);
}

.wi-fc {
    width: fit-content;
}

.card {
    max-width: fit-content;
}

#languagesPanel .col {
    width: 300px;
}

#dev-card {
    max-width: none;
    text-align: center;
}

#resume-card,
#contact-card,
#carousel .carcard {
    max-width: none;
}

body {
    height: 100vh;
}