@font-face {
    font-family: 'Glacial Indifference';
    src: url('../fonts/GlacialIndifference-Regular.woff2');
}
//general
$black: #08060d;
$white: #fff;
$border-color: #000000;
$border-width: 2px;
$border-radius: 15px;

$primary: #7D3BA3;
$light: #e4a2f3;
$dark: #32094A;
$success: #A8EBA4;
$warning: #F7D23B;
$danger: #DD6980;
$info: #5E92BF;

//body
$body-color: $white;
$body-bg: #12100700;

//cards
$card-bg: $black;
$card-color: $body-color;

//accordions
$accordion-bg: $light;
$accordion-color: $black;
$accordion-button-active-bg: $accordion-bg;
$accordion-button-color: $black;
$accordion-button-active-color: $black;

//forms
$input-bg: $light;
$input-color: $black;
$input-placeholder-color: $input-color;
$input-border-color: $border-color;
$form-select-indicator-color: $primary;

//list groups
$list-group-color: $body-color;
$list-group-border-color: $light;

//navs
$nav-link-color: $body-color;

//dropdowns
$dropdown-bg: $light;
$dropdown-color: $body-color;

//modals
$modal-content-bg: $light;

@import "../node_modules/bootstrap/scss/_functions";
@import "../node_modules/bootstrap/scss/_variables";

$my-theme-colours: (
    "altlight": #CAACEC,
    "altdark": #55286F,
    "transparent": #ffffff00,
);

$theme-colors: map-merge($my-theme-colours, $theme-colors);

@import "../node_modules/bootstrap/scss/bootstrap";

:root {
    --bs-body-font-family: 'Glacial Indifference', sans-serif;
}
