{% extends 'base.html' %}
{% load static %}
{% block title %}Contact{% endblock %}



{% block content %}
<div class="container mt-4">
    <div class="row">
        <div class="card card-body bg-dark mx-auto text-center">
            <div class="card-body text-center">
                <h1 class="card-title">Contact Me</h1>
                <p class="card-text">Please write your email address and message below and I'll get back to you ASAP :)</p>
                <form method="post">
                    {% csrf_token %}
                        {{form.as_p}}
                        <button type="submit" class="btn btn-info wi-fc mx-auto">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}