{% extends 'base.html' %}
{% load static %}
{% block title %}Home{% endblock %}
{% block home %}<a class="nav-link active giBold" href="{% url 'home' %}" aria-label="home page">Home</a>{% endblock %}

{% block content %}
<div class="container-fluid my-4">
    <div class="col">
        <h2 class="card-title giBold text-black bg-light mb-1 wi-fc mx-auto row p-1 border border-black">Welcome!</h2>
        <p class="card-text giBold text-black bg-light wi-fc mx-auto row p-1 border border-black">
            This page is here for you (probably potential future employer) to be able to have a look at my resume or to learn
            more about me
        </p>
        <p class="card-text giBold text-black bg-light wi-fc mx-auto row p-1 border border-black">
            There is also a page where you'll be able to contact me, <a href="{% url 'contact' %}">here</a>.
        </p>
    </div>
</div>
{% endblock %}
{% block scripts %}
<script type="text/javascript" src="{% static 'home/js/home.js' %}"></script>
{% endblock %}
