/venv
/__pycache__
key
key.pub
fbServiceAccount.json
.env
about-me.pyproj
about-me.sln
geckodriver.log
/.vs
node_modules
about_me/static
contact/static
home/static
photography/static
resume/static
accounts/static
!/static