{% extends 'base.html' %}
{% load static %}
{% block title %}Resume{% endblock %}
{% block resume %}<a class="nav-link active giBold" href="{% url 'resume' %}" aria-label="resume page">Resume</a>{% endblock %}
{% block content %}
<div class="container mt-2 mb-4 rounded-3">
    <div class="row mt-3" id="carousel-container">
        <div id="carousel" class="carousel slide" data-bs-ride="true">
            <ol class="carousel-indicators">
                <li data-bs-target="#carousel" data-bs-slide-to="0" class="active" aria-current="true"
                    aria-label="First slide"></li>
                <li data-bs-target="#carousel" data-bs-slide-to="1" aria-label="Second slide"></li>
                <li data-bs-target="#carousel" data-bs-slide-to="2" aria-label="Third slide"></li>
            </ol>
            <div class="carousel-inner rounded" role="listbox">
                <div class="carousel-item active">
                    <img src="{% static 'home/img/accountspy-banner.png' %}" class="d-block w-100" alt="accountspy app banner" id="accountspy">
                </div>
                <div class="carousel-item">
                    <img src="{% static 'home/img/snake-banner.png' %}" alt="snake site banner" class="d-block w-100" id="snake">
                </div>
                <div class="carousel-item">
                    <img src="{% static 'home/img/my-site-banner.png' %}" alt="portfolio site banner" class="d-block w-100" id="business">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carousel" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carousel" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
    <div class="row mt-3" id="resume">
        <div class="accordion w-100" id="resumePanels">
            <div class="accordion-item">
                <h2 class="accordion-header" id="skillsHeading">
                    <button class="accordion-button collapsed text center giBold" type="button" data-bs-toggle="collapse"
                        data-bs-target="#skillsPanel" aria-expanded="false" aria-controls="skillsPanel">
                        Skills
                    </button>
                </h2>
                <div id="skillsPanel" class="accordion-collapse collapse" aria-labelledby="skillsHeading">
                    <div class="accordion-body row gx-2 gy-2">
                        <div class="col-md mx-auto">
                            <div class="mx-auto mt-2 wi-fc">
                                <a class="btn btn-primary" data-bs-toggle="collapse" href="#acctPanel" aria-expanded="false"
                                    aria-controls="acctPanel" id="acctBtn">
                                    Accountancy</a>
                                </a>
                            </div>
                            <div class="collapse mx-auto" id="acctPanel">
                                <div class="card card-body mt-4">
                                    <div class="card-body text-center">
                                        <h2 class="card-title border-bottom border-light pb-2 giBold">Relevant skills:</h2>
                                        <ul class="list-group list-group-flush ">
                                            <li class="list-group-item bg-transparent">
                                                <div class="fw-bold">Financial accounting</div>
                                                Bookkeepping, reconciliations, trial balance, financial statements
                                            </li>
                                            <li class="list-group-item bg-transparent">
                                                <div class="fw-bold">Management accounting</div>
                                                Cost accounting, stock calculations, budgetting
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md mx-auto">
                            <div class="mx-auto mt-2 wi-fc">
                                <a class="btn btn-primary" data-bs-toggle="collapse" href="#devPanel" aria-expanded="false"
                                    aria-controls="devPanel" id="devBtn">
                                    Development</a>
                                </a>
                            </div>
                            <div class="collapse mx-auto" id="devPanel">
                                <div class="card card-body mt-4">
                                    <div class="card-body text-center">
                                        <h2 class="card-title border-bottom border-light pb-2 giBold">Relevant skills:</h2>
                                        <ul class="list-group list-group-flush">
                                            <li class="list-group-item bg-transparent">
                                                <div class="fw-bold">CSS</div>
                                                Responsive design
                                            </li>
                                            <li class="list-group-item bg-transparent">
                                                <div class="fw-bold">HTML</div>
                                                Accessible code, Bootstrap
                                            </li>
                                            <li class="list-group-item bg-transparent">
                                                <div class="fw-bold">JavaScript</div>
                                                JQuery
                                            </li>
                                            <li class="list-group-item bg-transparent">
                                                <div class="fw-bold">Python</div>
                                                Django, Flask, Gspread, Reportlab
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="educationHeading">
                    <button class="accordion-button collapsed text-center giBold" type="button" data-bs-toggle="collapse"
                        data-bs-target="#educationPanel" aria-expanded="false" aria-controls="educationPanel">
                        Education
                    </button>
                </h2>
                <div id="educationPanel" class="accordion-collapse collapse" aria-labelledby="educationHeading">
                    <div class="accordion-body row gx-2 gy-2">
                        <div class="col">
                            <div class="card card-body ">
                                <div class="card-body">
                                    <h2 class="card-title text-center giBold">ACCA</h2>
                                    <ul>
                                        <li>Diploma in Financial and Management Accounting<br>(RQFL2, May 2022)
                                            <ul>
                                                <li>Bookkeeping</li>
                                                <li>Reconciliations</li>
                                                <li>Cost accounting</li>
                                                <li>Preparing financial statements</li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card card-body ">
                                <div class="card-body">
                                    <h2 class="card-title text-center giBold">Code Institute</h2>
                                    <ul>
                                        <li>Diploma in Full-Stack Software Development<br>(In progress)
                                            <ul>
                                                <li>HTML / CSS / JS frontends</li>
                                                <li>Python backends
                                                    <ul>
                                                        <li>Google Drive API</li>
                                                        <li>gspread</li>
                                                        <li>django</li>
                                                        <li>flask</li>
                                                        <li>OOP</li>
                                                    </ul>
                                                </li>
                                                <li>Bootstrap</li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="languagesHeading">
                    <button class="accordion-button collapsed text-center giBold" type="button" data-bs-toggle="collapse"
                        data-bs-target="#languagesPanel" aria-expanded="false" aria-controls="languagesPanel">
                        Languages
                    </button>
                </h2>
                <div id="languagesPanel" class="accordion-collapse collapse" aria-labelledby="languagesHeading">
                    <div class="accordion-body row gx-2 gy-2">
                        <div class="col">
                            <div class="card card-body ">
                                <div class="card-body">
                                    <h2 class="card-title giBold">Swedish</h2>
                                    <p class="card-text">Native</p>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card card-body ">
                                <div class="card-body">
                                    <h2 class="card-title giBold">Finnish</h2>
                                    <p class="card-text">Native</p>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card card-body ">
                                <div class="card-body">
                                    <h2 class="card-title giBold">English</h2>
                                    <p class="card-text">C1</p>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card card-body ">
                                <div class="card-body">
                                    <h2 class="card-title giBold">Portuguese</h2>
                                    <p class="card-text">A1 Diploma</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="projectsHeading">
                    <button class="accordion-button collapsed text-center giBold" type="button" data-bs-toggle="collapse"
                        data-bs-target="#projectsPanel" aria-expanded="false" aria-controls="projectsPanel" id="projectsBtn">
                        Projects
                    </button>
                </h2>
                <div id="projectsPanel" class="accordion-collapse collapse" aria-labelledby="projectsHeading">
                    <div class="accordion-body row gx-2 gy-2">
                        <div class="col-md">
                            <div class="mx-auto mt-2 wi-fc">
                                <a class="btn btn-primary" data-bs-toggle="collapse" href="#accountspyPanel"
                                    aria-expanded="false" aria-controls="accountspyPanel" id="accountspyBtn">
                                    Python - accountspy preview
                                </a>
                            </div>
                            <div class="collapse mx-auto" id="accountspyPanel">
                                <div class="card card-body mt-4">
                                    <img class="card-img-top" src="{% static 'home/img/accountspy.png' %}" alt="Title">
                                    <div class="card-body text-center">
                                        <h2 class="card-title giBold">Accountspy-preview</h2>
                                        <p class="card-text">A functioning accounting demo app made in
                                            python</p>
                                        <div class="vstack gap-2">
                                            <a href="https://rugged-kings-canyon-79210.herokuapp.com/" class="card-text">Open
                                                app on
                                                Heroku</a>
                                            <a href="https://github.com/beccauwu/accountspy-preview/"
                                                class="card-text hyperlinks">Show source
                                                on
                                                GitHub</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md mx-auto">
                            <div class="mx-auto mt-2 wi-fc">
                                <a class="btn btn-primary" data-bs-toggle="collapse" href="#snakePanel" aria-expanded="false"
                                    aria-controls="snakePanel" id="snakeBtn">
                                    JavaScript - Snake
                                </a>
                            </div>
                            <div class="collapse mx-auto" id="snakePanel">
                                <div class="card card-body mt-4">
                                    <img class="card-img-top" src="{% static 'home/img/snake.png' %}" alt="Title">
                                    <div class="card-body text-center">
                                        <h2 class="card-title giBold">Snake</h2>
                                        <p class="card-text">The classic snake game built with HTML, CSS
                                            and javascript</p>
                                        <div class="vstack gap-2">
                                            <a href="https://beccauwu.github.io/snake/" class="card-text">Open app on GitHub
                                                pages</a>
                                            <a href="https://github.com/beccauwu/snake/" class="card-text hyperlinks">Show
                                                source on GitHub</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md mx-auto">
                            <div class="mx-auto mt-2 wi-fc">
                                <a class="btn btn-primary" data-bs-toggle="collapse" href="#portfolioPanel"
                                    aria-expanded="false" aria-controls="portfolioPanel" id="businessBtn">
                                    HTML/CSS - Portfolio
                                </a>
                            </div>
                            <div class="collapse mx-auto" id="portfolioPanel">
                                <div class="card card-body mt-4">
                                    <img class="card-img-top" src="{% static 'home/img/my-site.png' %}" alt="Title">
                                    <div class="card-body text-center">
                                        <h2 class="card-title giBold">Portfolio</h2>
                                        <p class="card-text">A webpage for my business written in HTML
                                            and CSS</p>
                                        <div class="vstack gap-2">
                                            <a href="https://beccauwu.github.io/my-site/" class="card-text">Open app on GitHub
                                                pages</a>
                                            <a href="https://github.com/beccauwu/my-site/" class="card-text hyperlinks">Show
                                                source on
                                                GitHub</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="wi-fc mx-auto col mt-4">
            <div class="row wi-fc mx-auto">
                <iframe title="resume as pdf"
                    src="https://docs.google.com/gview?url=https://docs.google.com/document/d/1SmTpbQXWuH8WP5YeyxyPHx5i51952ffgvUU8ZuT30_I/export?format=pdf&embedded=true"
                    style="width:200px; height:240px;" frameborder="0"></iframe>
            </div>
            <div class="rew wi-fc mx-auto">
                <a id="resumeDl" class="text-center row"
                    href="https://docs.google.com/document/d/1SmTpbQXWuH8WP5YeyxyPHx5i51952ffgvUU8ZuT30_I/export?format=pdf"
                    frameborder="0">
                    Download resume as PDF
                </a>
            </div>

        </div>
    </div>
</div>

{% endblock %}
{% block scripts %}
<script type="text/javascript" src="{% static 'resume/js/resume.js' %}"></script>
{% endblock %}