{% extends 'base.html' %}
{% load static %}
{% block title %}Resume{% endblock %}
{% block resume %}<a class="nav-link active" href="{% url 'resume' %}" aria-label="resume page">Resume</a>{% endblock %}
{% block content %}
<div class="container mt-2 mb-4 rounded-3">
    <div class="row mt-3" id="carousel-container">
        <div id="carousel" class="carousel slide" data-bs-ride="true">
            <ol class="carousel-indicators">
                <li data-bs-target="#carousel" data-bs-slide-to="0" class="active" aria-current="true"
                    aria-label="First slide"></li>
                <li data-bs-target="#carousel" data-bs-slide-to="1" aria-label="Second slide"></li>
                <li data-bs-target="#carousel" data-bs-slide-to="2" aria-label="Third slide"></li>
            </ol>
            <div class="carousel-inner" role="listbox">
                <div class="carousel-item active">
                    <div class="card card-body bg-dark mx-auto carcard homeCarousel" id="accountspy">
                        <div class="card-body row gy-2 gx-2 text-center">
                            <img id="accountspyBannerImg" class="card-img-top h-25"
                                src="{% static 'home/img/accountspy-banner.png' %}" alt="accountspy app banner">
                            <h4 class="card-title text-center">Accountspy</h4>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="card card-body bg-dark mx-auto carcard homeCarousel" id="snake">
                        <div class="card-body row gy-2 gx-2 text-center">
                            <img id="snakeBannerImg" class="card-img-top h-25"
                                src="{% static 'home/img/snake-banner.png' %}" alt="snake site banner">
                            <h4 class="card-title text-center">Snake</h4>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="card card-body bg-dark mx-auto carcard homeCarousel" id="business">
                        <div class="card-body row gy-2 gx-2 text-center">
                            <img id="portfolioBannerImg" class="card-img-top h-25"
                                src="{% static 'home/img/my-site-banner.png' %}" alt="portfolio site banner">
                            <h4 class="card-title text-center">Business site</h4>
                        </div>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carousel" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carousel" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
    <div class="row mt-3" id="resume">
        <div class="card card-body bg-dark mx-auto" id="resume-card">
            <div class="card-body row gy-2 gx-2">
                <h4 class="card-title text-center">Resume</h4>
                <div class="accordion accordion-flush" id="resumePanels">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="skillsHeading">
                            <button class="accordion-button collapsed text center" type="button"
                                data-bs-toggle="collapse" data-bs-target="#skillsPanel" aria-expanded="false"
                                aria-controls="skillsPanel">
                                Skills
                            </button>
                        </h2>
                        <div id="skillsPanel" class="accordion-collapse collapse" aria-labelledby="skillsHeading">
                            <div class="accordion-body row gx-2 gy-2">
                                <div class="col">
                                    <div class="card card-body bg-dark">
                                        <img class="card-img-top h-25" src="{% static 'home/img/html5.png' %}"
                                            alt="Title">
                                        <div class="card-body">
                                            <h4 class="card-title">HTML</h4>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="card card-body bg-dark">
                                        <img class="card-img-top h-25" src="{% static 'home/img/css3.png' %}"
                                            alt="Title">
                                        <div class="card-body">
                                            <h4 class="card-title">CSS</h4>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="card card-body bg-dark">
                                        <img class="card-img-top h-25" src="{% static 'home/img/bootstrap.png' %}"
                                            alt="Title">
                                        <div class="card-body">
                                            <h4 class="card-title">Bootstrap</h4>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="card card-body bg-dark">
                                        <img class="card-img-top h-25" src="{% static 'home/img/flask.png' %}"
                                            alt="Title">
                                        <div class="card-body">
                                            <h4 class="card-title">Flask</h4>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="card card-body bg-dark">
                                        <img class="card-img-top h-25" src="{% static 'home/img/gspread.png' %}"
                                            alt="Title">
                                        <div class="card-body">
                                            <h4 class="card-title">gspread</h4>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="card card-body bg-dark">
                                        <img class="card-img-top h-25" src="{% static 'home/img/javascript.png' %}"
                                            alt="Title">
                                        <div class="card-body">
                                            <h4 class="card-title">JavaScript</h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="educationHeading">
                            <button class="accordion-button collapsed text-center" type="button"
                                data-bs-toggle="collapse" data-bs-target="#educationPanel" aria-expanded="false"
                                aria-controls="educationPanel">
                                Education
                            </button>
                        </h2>
                        <div id="educationPanel" class="accordion-collapse collapse" aria-labelledby="educationHeading">
                            <div class="accordion-body row gx-2 gy-2">
                                <div class="col">
                                    <div class="card card-body bg-dark">
                                        <div class="card-body">
                                            <h4 class="card-title text-center">ACCA</h4>
                                            <ul>
                                                <li>Diploma in Financial and Management Accounting<br>(RQFL2, May 2022)
                                                    <ul>
                                                        <li>Bookkeeping</li>
                                                        <li>Reconciliations</li>
                                                        <li>Cost accounting</li>
                                                        <li>Preparing financial statements</li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="card card-body bg-dark">
                                        <div class="card-body">
                                            <h4 class="card-title text-center">Code Institute</h4>
                                            <ul>
                                                <li>Diploma in Full-Stack Software Development<br>(In progress)
                                                    <ul>
                                                        <li>HTML / CSS / JS frontends</li>
                                                        <li>Python backends
                                                            <ul>
                                                                <li>Google Drive API</li>
                                                                <li>gspread</li>
                                                                <li>django</li>
                                                                <li>flask</li>
                                                                <li>OOP</li>
                                                            </ul>
                                                        </li>
                                                        <li>Bootstrap</li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="languagesHeading">
                            <button class="accordion-button collapsed text-center" type="button"
                                data-bs-toggle="collapse" data-bs-target="#languagesPanel" aria-expanded="false"
                                aria-controls="languagesPanel">
                                Languages
                            </button>
                        </h2>
                        <div id="languagesPanel" class="accordion-collapse collapse" aria-labelledby="languagesHeading">
                            <div class="accordion-body row gx-2 gy-2">
                                <div class="col">
                                    <div class="card card-body bg-dark">
                                        <div class="card-body">
                                            <h4 class="card-title">Swedish</h4>
                                            <p class="card-text">Native</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="card card-body bg-dark">
                                        <div class="card-body">
                                            <h4>Finnish</h4>
                                            <p class="card-text">Native</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="card card-body bg-dark">
                                        <div class="card-body">
                                            <h4>English</h4>
                                            <p class="card-text">C1</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="card card-body bg-dark">
                                        <div class="card-body">
                                            <h4>Portuguese</h4>
                                            <p class="card-text">A1 Diploma</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="projectsHeading">
                            <button class="accordion-button collapsed text-center" type="button"
                                data-bs-toggle="collapse" data-bs-target="#projectsPanel" aria-expanded="false"
                                aria-controls="projectsPanel" id="projectsBtn">
                                Projects
                            </button>
                        </h2>
                        <div id="projectsPanel" class="accordion-collapse collapse" aria-labelledby="projectsHeading">
                            <div class="accordion-body row gx-2 gy-2">
                                <div class="card card-body bg-dark mx-auto" id="dev-card">
                                    <div class="card-body row gy-2 gx-2">
                                        <h4 class="card-title">My Projects</h4>
                                        <div class="col-md">
                                            <div class="mx-auto mt-2 wi-fc">
                                                <a class="btn btn-primary" data-bs-toggle="collapse"
                                                    href="#accountspyPanel" aria-expanded="false"
                                                    aria-controls="accountspyPanel" id="accountspyBtn">
                                                    Python - accountspy preview
                                                </a>
                                            </div>
                                            <div class="collapse mx-auto" id="accountspyPanel">
                                                <div class="card card-body bg-dark mt-4">
                                                    <img class="card-img-top"
                                                        src="{% static 'home/img/accountspy.png' %}" alt="Title">
                                                    <div class="card-body">
                                                        <h4 class="card-title">Accountspy-preview</h4>
                                                        <p class="card-text">A functioning accounting demo app made in
                                                            python</p>
                                                        <div class="vstack gap-2">
                                                            <a href="https://rugged-kings-canyon-79210.herokuapp.com/"
                                                                class="card-text">Open app on
                                                                Heroku</a>
                                                            <a href="https://github.com/beccauwu/accountspy-preview"
                                                                class="card-text">Show source
                                                                on
                                                                GitHub</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md mx-auto">
                                            <div class="mx-auto mt-2 wi-fc">
                                                <a class="btn btn-primary" data-bs-toggle="collapse" href="#snakePanel"
                                                    aria-expanded="false" aria-controls="snakePanel" id="snakeBtn">
                                                    JavaScript - Snake
                                                </a>
                                            </div>
                                            <div class="collapse mx-auto" id="snakePanel">
                                                <div class="card card-body bg-dark mt-4">
                                                    <img class="card-img-top" src="{% static 'home/img/snake.png' %}"
                                                        alt="Title">
                                                    <div class="card-body">
                                                        <h4 class="card-title">Snake</h4>
                                                        <p class="card-text">The classic snake game built with HTML, CSS
                                                            and javascript</p>
                                                        <div class="vstack gap-2">
                                                            <a href="https://beccauwu.github.io/snake"
                                                                class="card-text">Open app on GitHub
                                                                pages</a>
                                                            <a href="https://github.com/beccauwu/snake"
                                                                class="card-text">Show source on GitHub</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md mx-auto">
                                            <div class="mx-auto mt-2 wi-fc">
                                                <a class="btn btn-primary" data-bs-toggle="collapse"
                                                    href="#portfolioPanel" aria-expanded="false"
                                                    aria-controls="portfolioPanel" id="businessBtn">
                                                    HTML/CSS - Portfolio
                                                </a>
                                            </div>
                                            <div class="collapse mx-auto" id="portfolioPanel">
                                                <div class="card card-body bg-dark mt-4">
                                                    <img class="card-img-top" src="{% static 'home/img/my-site.png' %}"
                                                        alt="Title">
                                                    <div class="card-body">
                                                        <h4 class="card-title">Portfolio</h4>
                                                        <p class="card-text">A webpage for my business written in HTML
                                                            and CSS</p>
                                                        <div class="vstack gap-2">
                                                            <a href="https://beccauwu.github.io/my-site"
                                                                class="card-text">Open app on GitHub
                                                                pages</a>
                                                            <a href="https://github.com/beccauwu/my-site"
                                                                class="card-text">Show source on
                                                                GitHub</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="wi-fc mx-auto col mt-4">
                    <div class="row wi-fc mx-auto">
                        <iframe title="resume as pdf"
                            src="https://docs.google.com/gview?url=https://docs.google.com/document/d/1SmTpbQXWuH8WP5YeyxyPHx5i51952ffgvUU8ZuT30_I/export?format=pdf&embedded=true"
                            style="width:200px; height:240px;" frameborder="0"></iframe>
                    </div>
                    <div class="rew wi-fc mx-auto">
                        <a id="resumeDl" class="text-center row"
                            href="https://docs.google.com/document/d/1SmTpbQXWuH8WP5YeyxyPHx5i51952ffgvUU8ZuT30_I/export?format=pdf"
                            frameborder="0">
                            Download resume as PDF
                        </a>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
{% block scripts %}
<script type="text/javascript" src="{% static 'resume/js/resume.js' %}"></script>
{% endblock %}