{% extends 'base.html' %}
{% load static %}
{% load inlineedit %}
{% block title %}{{ image.title }}{% endblock %}
{% block content %}
<div class="container my-4">
    <div class="col mx-auto">
        <div class="row text-center mt-3 rounded p-4 bg-light text-black">
            <nav class="breadcrumb">
                <a class="breadcrumb-item text-black" href="{% url 'profiledetails' image.collection.user.id %}">{{ image.collection.user.username }}</a>
                <a class="breadcrumb-item text-black" href="{% url 'collection' image.collection.id %}">{{ image.collection.name }}</a>
                <span class="breadcrumb-item active text-black giBold" aria-current="page">{{ image.title }}</span>
            </nav>
            {% if image.collection.user.id == request.user.id %}
            <h3 class="modal-title giBold text-black wi-fc mx-auto mb-0" id="imgUploadTitle">{% inlineedit 'image.title' 'formcontrol' template='inlineedit_custom.html' %}</h3>
            {% else %}
            <h3 class="modal-title giBold text-black wi-fc mx-auto mb-0" id="imgUploadTitle">{{ image.title }}</h3>
            {% endif %}
            <p class="text-black text-center mb-0">{{ image.upload_date }}</p>
            {% if image.collection.user.id == request.user.id or request.user.is_staff %}
            <a class="d-block mb-3" href="{% url 'deleteimage' image.id %}">
                <i class="fa-regular fa-trash-can"></i>
            </a>
            {% endif %}
            <img class="img-fluid" src="{{ image.img.url }}">
            {% if image.text_content %}
                {% if image.collection.user.id == request.user.id %}
                {% inlineedit 'image.text_content' 'textarea' template='inlineedit_custom.html' %}
                {% else %}
                <p class="fs-5 text-black text-center pt-2 mt-2 border-top border-black">{{ image.text_content|linebreaks }}</p>
                {% endif %}
            {% endif %}
            <div class="d-flex w-100 justify-content-between mt-2">
                <a href="{% url 'profiledetails' image.collection.user.id %}"
                    class="d-block text-black text-reset text-decoration-none">
                    {% if image.collection.user.profile.pfp %}
                    <img class="rounded-circle" width="30" src="{{ image.collection.user.profile.pfp.url }}">
                    {% else %}
                    <img class="rounded-circle" width="30" src="{% static 'base/images/default_pfp.png' %}">
                    {% endif %}
                    {{ image.collection.user.username }}
                </a>
                <div class="d-inline px-2 py-1 rounded bg-altlight border border-4 border-primary">
                    {% if request.user.is_authenticated %}
                    {% if likes %}
                    {% for like in likes %}
                    {% if request.user.id == like.user.id %}
                    <a class="text-decoration-none" href="{% url 'unlike' image.id %}">
                        <i class="mt-1 fs-4 fa-solid fa-heart text-danger"></i>
                    </a>
                    {% else %}
                    <a class="text-decoration-none" href="{% url 'like' image.id %}">
                        <i class="mt-1 fs-4 fa-regular fa-heart text-black"></i>
                    </a>
                    {% endif %}
                    {% endfor %}
                    {% else %}
                    <a class="text-decoration-none" href="{% url 'like' image.id %}">
                        <i class="mt-1 fs-4 fa-regular fa-heart text-black"></i>
                    </a>
                    {% endif %}
                    {% else %}
                    <a data-bs-toggle="modal" data-bs-target="#loginModal">
                        <i class="mt-1 fs-4 fa-solid fa-heart text-grey-700"></i>
                    </a>
                    {% endif %}
                    <span class="giBold mb-2">{{ likes_count }}</span>
                </div>
            </div>
            <!-- <div class="w-100 pb-4"></div> -->
        </div>
        <div class="row bg-light rounded my-2 py-2 d-flex justify-content-around">
            {% if image.comment_set.all %}
            <div class="col-md-6 col-sm-12 border border-black rounded p-2">
                <div class="text-center mt-3 rounded bg-light text-black">
                    <h5 class="modal-title giBold text-black wi-fc mx-auto mb-2 border-bottom border-black" id="commentTitle">Comments</h5>
                    {% for comment in image.comment_set.all %}
                    <div class="d-flex mb-3 justify-content-between border-bottom border-black">
                        <div class="align-self-end pl-2">
                            <p class="giBold">{{ comment.comment }}</p>
                        </div>
                        <div class="wi-fc">
                            {% if comment.author.id == request.user.id or request.user.is_staff %}
                            <a class="d-block text-end" href="{% url 'deletecomment' comment.id %}">
                                <i class="fa-regular fa-trash-can"></i>
                            </a>
                            {% endif %}
                            <p class="text-start m-0 p-0">{{ comment.created_on }}</p>
                            <a href="{% url 'profiledetails' comment.author.id %}"
                                class="d-block float-end m-0 p-0 text-decoration-none text-reset">
                                <p class="d-inline giBold">{{ comment.author.username }}</p>
                                {% if comment.author.profile.pfp %}
                                <img class="rounded-circle" width="30" src="{{ comment.author.profile.pfp.url }}">
                                {% else %}
                                <img class="rounded-circle" width="30" src="{% static 'base/images/default_pfp.png' %}">
                                {% endif %}
                            </a>
                        </div>
                    </div>
                    {% endfor %}
                    <form method="post" action="{% url 'postcomment' %}">
                        {% csrf_token %}
                        <input type="hidden" name="image_id" value="{{ image.id }}">
                        <label for="commentInput" class="text-black giBold text-center">Upload comment:</label>
                        <textarea class="form-control my-2 text-center" id="commentInput" name="comment" rows="3"></textarea>
                        <button type="submit" class="btn btn-primary wi-fc mx-auto">Submit</button>
                    </form>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
{% block bodyend %}
<script src="{% static 'base/js/inlineedit.js' %}"></script>
{% endblock %}