{% extends 'base.html' %}
{% load static %}
{% load inlineedit %}
{% block styles %}<link rel="stylesheet" type="text/css" href="{% static 'photos/css/photos.css' %}">{% endblock %}
{% block title %}Photo Gallery{% endblock %}
{% block photos %}<a class="nav-link active giBold" href="{% url 'photos' %}" aria-label="current page">Photo gallery</a>{% endblock %}

{% block content %}
<div class="container my-2">
    {% if not collection %}
    <div class="row">
        <div class="btn-toolbar wi-fc mx-auto mb-2" role="toolbar" aria-label="Toolbar with button groups">
            <div class="btn-group me-2" role="group" aria-label="Post selection">
                <a href="{% url 'start' %}" class="btn btn-primary" aria-label="view all posts on site">All posts</a>
                {% if request.user.is_authenticated %}
                <a href="{% url 'following' %}" class="btn btn-primary" aria-label="view posts of persons you follow">Following</a>
                {% endif %}
                <button id="searchBtn" class="btn btn-primary" aria-label="search the site for posts">Search</button>
            </div>
        </div>
    </div>
    <div id="searchContainer" class="row d-none wi-fc mx-auto mb-2">
        <form class="search" method="GET" action="{% url 'search' %}">
            <div class="d-flex flex-nowrap wi-fc mx-auto bg-light rounded border border-black">
                <input class="form-control d-inline border-0" type="search" name="search">
                <button class="btn btn-outline-primary search d-inline fa-solid fa-magnifying-glass border-0" type="submit"
                    aria-label="submit search"></button>
            </div>
        </form>
    </div>
    {% else %}
    <div class="row p-2 mb-2">
        <nav class="breadcrumb wi-fc bg-light p-2 border border-black">
            <a class="breadcrumb-item text-black" href="{% url 'profiledetails' collection.user.id %}" aria-label="profile of person who owns the collection">{{ collection.user.username }}</a>
            <span class="breadcrumb-item active text-black giBold" aria-current="page">{{ collection.name }}</span>
        </nav>
        <div>
            <h3 class="text-center text-black giBold wi-fc mx-auto bg-light p-2 border border-black" aria-label="current collection name">{{ collection.name }}</h3>
            <p class="text-center text-black wi-fc mx-auto bg-light p-2 border border-black" aria-label="summary of current collection">{{ collection.summary }}</p>
        </div>
    </div>
    {% endif %}
    <div class="row g-2">
        {% for image in images %}
        <div class="col-md-4 col-sm-12 text-black">
            <div class="thumbnail bg-light p-2 rounded">
                <a href="{% url 'photodetail' image.id %}" aria-label="open post for image {{ image.title }}">
                    <img src="{{ image.img.url }}" class="img-thumbnail" alt="image with title {{ image.title }}">
                    <div class="caption text-center">
                        <h3 class="giBold pt-1 text-black text-decoration-none" aria-label="image title">{{ image.title }}</h3>
                    </div>
                </a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
{% block bodyend %}
<script>
    $('#searchBtn').on('click', function() {
        $('#searchContainer').toggleClass('d-none');
    });
</script>
{% endblock %}