{% extends 'base.html' %}
{% load static %}
{% block styles %}<link rel="stylesheet" type="text/css" href="{% static 'photos/css/photos.css' %}">{% endblock %}
{% block title %}Photo Gallery{% endblock %}
{% block photos %}<a class="nav-link active giBold" href="{% url 'photos' %}" aria-label="current page">Photo gallery</a>{% endblock %}

{% block content %}
<div class="container my-4">
    <div class="col-6 mx-auto">
        <div class="text-center mt-3 rounded p-4 bg-light text-black">
            {% for user in users %}
            {% if user.collections %}
            {% for collection in user.collections %}
            <div class="row">
                <div class="col-12">
                    <h3 class="giBold">{{ collection.name }}</h3>
                    {% for image in collection.images %}
                        <div class="row">
                            <div class="col-12">
                                <img src="{{ image.image }}" class="img-fluid">
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            {% endfor %}
            {% endif %}
            {% endfor %}
            <div class="buttons my-2">
                <button class="btn btn-primary px-4" type="button" data-bs-toggle="modal" data-bs-target="#imgUpload"
                    id="imgUploadBtn">Upload image</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block bodyend %}
<div class="modal fade" id="imgUpload" tabindex="-1" aria-labelledby="imgUploadTitle" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title giBold text-black wi-fc mx-auto" id="imgUploadTitle"><i
                        class="fa-solid fa-pen-to-square"></i> Image upload</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form enctype="multipart/form-data" method="post" id="imgUploadForm">
                    {% csrf_token %}
                    <label for="titleInput" class="form-label giBold text-black" id="bioLabel">Add photo title:</label>
                    {{ form.title }}
                    <label for="collectionInput" class="form-label giBold text-black">Choose collection:</label>
                    {{ form.collection }}
                    <label for="imageInput" class="form-label pt-1 giBold text-black">Upload image:</label>
                    {{ forms.img }}
                </form>
            </div>
            <div class="modal-footer">
                <div class="wi-fc mx-auto">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary" form="imgUploadForm">Save changes</button>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
