{% extends 'base.html' %}
{% load static %}
{% block title %}Photo Gallery{% endblock %}
{% block photos %}<a class="nav-link active" href="{% url 'photos' %}" aria-label="current page">Photo gallery</a>{% endblock %}

{% block content %}
<div class="container my-4 bg-dark p-4">
    <div class="row g-2 my-2">
        <img class="col-xxl-3 col-lg-4 col-md-6 col-sm-12" src="{% static 'photos/img/kebnekaise/kebnekaise-1_result.webp' %}" alt="">
        <img class="col-xxl-3 col-lg-4 col-md-6 col-sm-12" src="{% static 'photos/img/kebnekaise/kebnekaise-2_result.webp' %}" alt="">
        <img class="col-xxl-3 col-lg-4 col-md-6 col-sm-12" src="{% static 'photos/img/kebnekaise/kebnekaise-3_result.webp' %}" alt="">
        <img class="col-xxl-3 col-lg-4 col-md-6 col-sm-12" src="{% static 'photos/img/kebnekaise/kebnekaise-5_result.webp' %}" alt="">
        <img class="col-xxl-3 col-lg-4 col-md-6 col-sm-12" src="{% static 'photos/img/kebnekaise/kebnekaise-6_result.webp' %}" alt="">
        <img class="col-xxl-3 col-lg-4 col-md-6 col-sm-12" src="{% static 'photos/img/kebnekaise/kebnekaise-7_result.webp' %}" alt="">
        <img class="col-xxl-3 col-lg-4 col-md-6 col-sm-12" src="{% static 'photos/img/kebnekaise/kebnekaise-8_result.webp' %}" alt="">
        <img class="col-xxl-3 col-lg-4 col-md-6 col-sm-12" src="{% static 'photos/img/kebnekaise/kebnekaise-9_result.webp' %}" alt="">
        <img class="col-xxl-3 col-lg-4 col-md-6 col-sm-12" src="{% static 'photos/img/kebnekaise/kebnekaise-10_result.webp' %}" alt="">
        <img class="col-xxl-3 col-lg-4 col-md-6 col-sm-12" src="{% static 'photos/img/kebnekaise/kebnekaise-11_result.webp' %}" alt="">
        <img class="col-xxl-3 col-lg-4 col-md-6 col-sm-12" src="{% static 'photos/img/kebnekaise/kebnekaise-12_result.webp' %}" alt="">
        <img class="col-xxl-3 col-lg-4 col-md-6 col-sm-12" src="{% static 'photos/img/kebnekaise/kebnekaise-13_result.webp' %}" alt="">
        <img class="col-xxl-3 col-lg-4 col-md-6 col-sm-12" src="{% static 'photos/img/kebnekaise/kebnekaise-14_result.webp' %}" alt="">
        <img class="col-xxl-3 col-lg-4 col-md-6 col-sm-12" src="{% static 'photos/img/kebnekaise/kebnekaise-15_result.webp' %}" alt="">
        <img class="col-xxl-3 col-lg-4 col-md-6 col-sm-12" src="{% static 'photos/img/kebnekaise/kebnekaise-16_result.webp' %}" alt="">
        <img class="col-xxl-3 col-lg-4 col-md-6 col-sm-12" src="{% static 'photos/img/kebnekaise/kebnekaise-17_result.webp' %}" alt="">
        <img class="col-xxl-3 col-lg-4 col-md-6 col-sm-12" src="{% static 'photos/img/kebnekaise/kebnekaise-18_result.webp' %}" alt="">
        <img class="col-xxl-3 col-lg-4 col-md-6 col-sm-12" src="{% static 'photos/img/kebnekaise/kebnekaise-19_result.webp' %}" alt="">
        <img class="col-xxl-3 col-lg-4 col-md-6 col-sm-12" src="{% static 'photos/img/kebnekaise/kebnekaise-20_result.webp' %}" alt="">
        <img class="col-xxl-3 col-lg-4 col-md-6 col-sm-12" src="{% static 'photos/img/kebnekaise/kebnekaise-21_result.webp' %}" alt="">
    </div>
    
    <div class="row"></div>
    <div class="row"></div>
    <div class="row"></div>
    <div class="row"></div>
    <div class="row"></div>
    <div class="row"></div>
    <div class="row"></div>
    <div class="row"></div>
</div>
{% endblock %}