<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <link rel="shortcut icon" href="/img/icon.png" type="image/x-icon">
    <title>Portfolio</title>
</head>

<body>
    <nav class="navbar sticky-top navbar-dark bg-dark navbar-expand-lg">
        <div class="container-fluid">
            <div class="nav navbar-nav mx-auto">
                <a class="navbar-brand" href="#">Rebecca Perttula</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar"
                    aria-controls="navbar" aria-expanded="false" aria-label="toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbar">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" href="#portfolio" aria-current="page">Portfolio</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#resume">Resume</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#about">About Me</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#contact">Contact Information</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    <div class="container mt-2 mb-4 rounded-3">
        <div class="row mt-3" id="dev">
            <div class="card card-body bg-dark mx-auto" id="dev-card">
                <div class="card-body row gy-2 gx-2">
                    <h4 class="card-title">My Projects</h4>
                    <div class="col-md">
                        <div class="mx-auto mt-2 wi-fc">
                            <a class="btn btn-primary" data-bs-toggle="collapse" href="#projectThree" aria-expanded="false"
                                aria-controls="projectThree">
                                Python - accountspy preview
                            </a>
                        </div>
                        <div class="collapse mx-auto mt-2" id="projectThree">
                            <div class="card card-body bg-dark">
                                <img class="card-img-top" src="/img/accountspy.png" alt="Title">
                                <div class="card-body">
                                    <h4 class="card-title">Accountspy-preview</h4>
                                    <p class="card-text">A functioning accounting demo app made in python</p>
                                    <div class="vstack gap-2">
                                        <a href="https://rugged-kings-canyon-79210.herokuapp.com/" class="card-text">Open app on Heroku</a>
                                        <a href="https://github.com/beccauwu/accountspy-preview" class="card-text">Show source on GitHub</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md mx-auto">
                        <div class="mx-auto mt-2 wi-fc">
                            <a class="btn btn-primary" data-bs-toggle="collapse" href="#projectTwo" aria-expanded="false"
                                aria-controls="projectTwo">
                                JavaScript - Snake
                            </a>
                        </div>
                        <div class="collapse mx-auto mt-2" id="projectTwo">
                            <div class="card card-body bg-dark">
                                <img class="card-img-top" src="/img/snake.png" alt="Title">
                                <div class="card-body">
                                    <h4 class="card-title">Snake</h4>
                                    <p class="card-text">The classic snake game built with HTML, CSS and javascript</p>
                                    <div class="vstack gap-2">
                                        <a href="https://beccauwu.github.io/snake" class="card-text">Open app on GitHub pages</a>
                                        <a href="https://github.com/beccauwu/snake" class="card-text">Show source on GitHub</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md mx-auto">
                        <div class="mx-auto mt-2 wi-fc">
                            <a class="btn btn-primary" data-bs-toggle="collapse" href="#projectOne" aria-expanded="false"
                                aria-controls="projectOne">
                                HTML/CSS - Portfolio
                            </a>
                        </div>
                        <div class="collapse mx-auto mt-2" id="projectOne">
                            <div class="card card-body bg-dark">
                                <img class="card-img-top" src="/img/my-site.png" alt="Title">
                                <div class="card-body">
                                    <h4 class="card-title">Portfolio</h4>
                                    <p class="card-text">A webpage for my business written in HTML and CSS</p>
                                    <div class="vstack gap-2">
                                        <a href="https://beccauwu.github.io/my-site" class="card-text">Open app on GitHub pages</a>
                                        <a href="https://github.com/beccauwu/my-site" class="card-text">Show source on GitHub</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-3" id="resume">
            <div class="card card-body bg-dark mx-auto" id="resume-card">
                <div class="card-body row gy-2 gx-2">
                    <h4 class="card-title text-center">Resume</h4>
                    <div class="accordion" id="resumePanels">
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="skillsHeading">
                                <button class="accordion-button text center" type="button" data-bs-toggle="collapse" data-bs-target="#skillsPanel"
                                    aria-expanded="true" aria-controls="skillsPanel">
                                    Skills
                                </button>
                            </h2>
                            <div id="skillsPanel" class="accordion-collapse collapse show" aria-labelledby="skillsHeading">
                                <div class="accordion-body row gx-2 gy-2">
                                    <div class="col">
                                        <div class="card card-body bg-dark">
                                            <img class="card-img-top h-25" src="/img/html5.png" alt="Title">
                                            <div class="card-body">
                                                <h4 class="card-title">HTML</h4>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="card card-body bg-dark">
                                            <img class="card-img-top h-25" src="/img/css3.png" alt="Title">
                                            <div class="card-body">
                                                <h4 class="card-title">CSS</h4>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="card card-body bg-dark">
                                            <img class="card-img-top h-25" src="/img/bootstrap.png" alt="Title">
                                            <div class="card-body">
                                                <h4 class="card-title">Bootstrap</h4>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="card card-body bg-dark">
                                            <img class="card-img-top h-25" src="/img/flask.png" alt="Title">
                                            <div class="card-body">
                                                <h4 class="card-title">Flask</h4>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="card card-body bg-dark">
                                            <img class="card-img-top h-25" src="/img/gspread.png" alt="Title">
                                            <div class="card-body">
                                                <h4 class="card-title">gspread</h4>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="card card-body bg-dark">
                                            <img class="card-img-top h-25" src="/img/javascript.png" alt="Title">
                                            <div class="card-body">
                                                <h4 class="card-title">JavaScript</h4>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="educationHeading">
                                <button class="accordion-button collapsed text-center" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#educationPanel" aria-expanded="false" aria-controls="educationPanel">
                                    Education
                                </button>
                            </h2>
                            <div id="educationPanel" class="accordion-collapse collapse" aria-labelledby="educationHeading">
                                <div class="accordion-body row gx-2 gy-2">
                                    <div class="col">
                                        <div class="card card-body bg-dark">
                                            <div class="card-body">
                                                <h4 class="card-title text-center">ACCA</h4>
                                                <ul>
                                                    <li>Diploma in Financial and Management Accounting<br>(RQFL2, May 2022)
                                                        <ul>
                                                            <li>Bookkeeping</li>
                                                            <li>Reconciliations</li>
                                                            <li>Cost accounting</li>
                                                            <li>Preparing financial statements</li>
                                                        </ul>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="card card-body bg-dark">
                                            <div class="card-body">
                                                <h4 class="card-title text-center">Code Institute</h4>
                                                <ul>
                                                    <li>Diploma in Full-Stack Software Development<br>(In progress)
                                                        <ul>
                                                            <li>HTML / CSS / JS frontends</li>
                                                            <li>Python backends
                                                                <ul>
                                                                    <li>Google Drive API</li>
                                                                    <li>gspread</li>
                                                                    <li>django</li>
                                                                    <li>flask</li>
                                                                    <li>OOP</li>
                                                                </ul>
                                                            </li>
                                                            <li>Bootstrap</li>
                                                        </ul>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="languagesHeading">
                                <button class="accordion-button collapsed text-center" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#languagesPanel" aria-expanded="false" aria-controls="languagesPanel">
                                    Languages
                                </button>
                            </h2>
                            <div id="languagesPanel" class="accordion-collapse collapse" aria-labelledby="languagesHeading">
                                <div class="accordion-body row gx-2 gy-2">
                                    <div class="col">
                                        <div class="card card-body bg-dark">
                                            <div class="card-body">
                                                <h4 class="card-title">Swedish</h4>
                                                <p class="card-text">Native</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="card card-body bg-dark">
                                            <div class="card-body">
                                                <h4>Finnish</h4>
                                                <p class="card-text">Native</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="card card-body bg-dark">
                                            <div class="card-body">
                                                <h4>English</h4>
                                                <p class="card-text">C1</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="card card-body bg-dark">
                                            <div class="card-body">
                                                <h4>Portuguese</h4>
                                                <p class="card-text">A1 Diploma</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-3" id="contact">
            <div class="card card-body bg-dark mx-auto" id="contact-card">
                <div class="card-body row gy-2 gx-2 text-center">
                    <h4 class="card-title">Contact</h4>
                    <p class="card-text">
                        <strong>Email:</strong><br>
                        <a href="mailto:rebecca@perttula.co">rebecca@perttula.co</a>
                    </p>
                    <p class="card-text">
                        <strong>Phone:</strong><br>
                        <a href="tel:+46724416869">+46724416869</a>
                    </p>
                    <a href="https://wa.me/46724416869" class="bg-white wi-fc mx-auto rounded">
                        <img src="/img/whatsapp.png" alt="whatsapp qr code">
                    </a>
                </div>
            </div>
        </div>
    </div>
    <nav class="navbar navbar-expand navbar-dark bg-dark static-bottom">
        <div class="container-fluid">
            <div class="container mx-auto text-center">
                <ul>
                    <li class="nav-item row">
                        <a class="nav-link fw-light" href="#">Home</a>
                    </li>
                    <li class="nav-item row">
                        <a class="nav-link fw-light" href="https://github.com/beccauwu/about-me">Page Source <span class="visually-hidden">(current)</span></a>
                    </li>
                    <li class="nav-item row">
                        <a class="nav-link fw-light" href="https://github.com/beccauwu/about-me/blob/master/LICENSE">© Rebecca Perttula 2022</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="nav navbar-nav mx-auto">
            
            
        </div>
    </nav>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="/js/bootstrap.bundle.js"></script>
</body>

</html>