{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        {% include 'head.html' %}
        {% block headcontent %}
        {% endblock %}
    </head>
    <body class="d-flex flex-column min-vh-100">
        <div class="bg"></div>
        {% block header %}
        {% include 'header.html' %}
        {% endblock %}
        <main>
            {% block content %}
            {% endblock %}
        </main>
        <div class="mt-auto"></div>
        {% block footer %}
        {% include 'footer.html' %}
        {% endblock %}
        <script src="{% static 'base/js/base.js' %}"></script>
        <script src="https://kit.fontawesome.com/cd478b5352.js" crossorigin="anonymous"></script>
        {% if scripts %}
            {% for script in scripts %}
                <script src="{{ script }}"></script>
            {% endfor %}
        {% endif %}
        {% if not user.is_authenticated %}
            {% include 'modals.html' %}
        {% endif %}
        {% block bodyend %}
        {% endblock %}
    </body>
</html>
