{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        {% include 'head.html' %}
        {% block styles %}
        {% endblock %}
        <title>{% block title %}{% endblock %} | AboutMe</title>
    </head>
    <body class="d-flex flex-column min-vh-100">
        <div class="bg"></div>
        <header id="top">
        {% block header %}
        <nav class="navbar sticky-top navbar-expand-lg bg-black justify-content-between text-center">
            <a class="navbar-brand" href="{% url 'start' %}" aria-label="go to home page">
                <img src="{% static 'base/img/logo2.png' %}" alt="logo" width="40" height="40">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar"
                aria-controls="navbar" aria-expanded="false" aria-label="toggle navigation">
                <i class="fa-solid fa-bars text-light"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbar">
                <ul class="navbar-nav mb-2 mb-lg-0 ms-auto me-2">
                    <li class="nav-item">
                        {% block posts %}<a class="nav-link" href="{% url 'start' %}"
                            aria-label="main page with posts">Posts</a>{% endblock %}
                    </li>
                    {% if user.is_authenticated %}
                    <li class="nav-item">
                        {% block account %}<a class="nav-link" href="{% url 'profile' %}"
                            aria-label="your account page">Account</a>{% endblock %}
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'logout' %}" aria-label="log out of your account">Logout</a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        {% block login %}<a class="nav-link" data-bs-toggle="modal" data-bs-target="#loginModal"
                            aria-label="log in to your account">Login</a>{% endblock %}
                    </li>
                    {% endif %}
                    {% if request.user.is_staff %}
                    <li class="nav-item">
                        <a class="nav-link" href="/admin" aria-label="open admin panel page">Admin panel</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </nav>
        {% endblock %}
        </header>
        <main>
            {% if alert %}
            <div class="d-flex alert alert-{{ alert.type }} fade show alert-dismissible text-center wi-fc mx-auto mt-2 ps-5" role="alert">
                <p class="mt-3 giBold">{{ alert.message }}</p>
                <button type="button"
                    class="btn btn-outline-primary fs-5 border-0 fa-solid fa-xmark ms-3 float-end align-self-center"
                    data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {% endif %}
            {% if messages %}
            {% for message in messages %}
            <div class="d-flex alert alert-{{ message.tags }} fade show alert-dismissible text-center wi-fc mx-auto mt-2 ps-5" role="alert">
                <p class="mt-3 giBold">{{ message }}</p>
                <button type="button"
                    class="btn btn-outline-primary fs-5 border-0 fa-solid fa-xmark ms-3 float-end align-self-center"
                    data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {% endfor %}
            {% endif %}
            {% block content %}
            {% endblock %}
        </main>
        <div class="mt-auto"></div>
        {% block footer %}
        {% include 'footer.html' %}
        {% endblock %}
        <script src="{% static 'base/js/base.js' %}"></script>
        <script src="https://kit.fontawesome.com/cd478b5352.js" crossorigin="anonymous"></script>
        {% if scripts %}
            {% for script in scripts %}
                <script src="{{ script }}"></script>
            {% endfor %}
        {% endif %}
        {% if not user.is_authenticated %}
            {% include 'modals.html' %}
        {% endif %}
        {% block bodyend %}
        {% endblock %}
    </body>
</html>
