<footer>
    <nav class="navbar navbar-expand static-bottom bg-black">
        <div class="container-fluid">
            <div class="container wi-fc mx-auto text-center">
                <div class="nav-item row">
                    <a class="nav-link fw-light" href="https://github.com/beccauwu/about-me/" target="_blank"
                        aria-label="page source on GitHub (opens in new tab)">Page Source</a>
                </div>
                <div class="nav-item row">
                    <p class="nav-link fw-light mb-0">© Rebecca Perttula 2022</p>
                </div>
                <div class="nav-item row">
                    <a class="nav-link fw-light" id="toTop" aria-label="back to top">Back to top</a>
                </div>
            </div>
        </div>
    </nav>
</footer>