{% if has_edit_perm %}
<span class="inlineedit-toggle-area mx-2" id="inlineedit-toggle-area-{{ uuid }}" data-field-id="{{ uuid }}" style="white-space:nowrap"> 
    <h5 class="inlineedit-value mx-2" id="inlineedit-value-{{ uuid }}" data-field-id="{{ uuid }}" style="display:inline">
        {% if empty_message %}
        {{ empty_message }}
        {% else %}
        {{ value }}
        {% endif %}
    </h5>
    <i class="fa-solid fa-pen inlineedit-toggle fs-6" id="inlineedit-toggle-{{ uuid }}" data-field-id="{{ uuid }}"
        style="display:none"></i>
</span>

<form method="POST" class="inlineedit-form" id="inlineedit-form-{{ uuid }}" data-field-id="{{ uuid }}"
    adaptor="{{ adaptor }}" style="display:none">
    {% csrf_token %}

    <span style="color:red;">{{ form.non_field_errors }}</span>

    {% for hidden_field in form.hidden_fields %}
    <span style="color:red;">{{ hidden_field.errors }}</span>
    {{ hidden_field }}
    {% endfor %}

    {% for field in form.visible_fields %}
    <span style="color:red;">{{ field.errors }}</span>
    {{ field }}
    {% if field.help_text %}
    <small><br>{{ field.help_text }}</small>
    {% endif %}
    {% endfor %}

    <button type="submit" class="btn btn-sm btn-link"><i class="fa-solid fa-check"></i></button>
    <button type="reset" class="btn btn-sm btn-link" onClick="inlineedit_exit_editing(this)"><i class="fa-solid fa-xmark"></i></button>
</form>

{{ form.media }}

{% else %}
{{ value }}

{% endif %}