{% load static %}
<div class="modal fade" tabindex="-1" aria-labelledby="signupModalTitle" aria-hidden="true" id="signupModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title giBold text-black" id="signupModalTitle">Sign up</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="post" id="signupModalForm" action="/accounts/signup">
                    {% csrf_token %}
                    <label for="usernameInput" class="form-label giBold text-black">Username:</label>
                    {{signup_form.username}}
                    <label for="emailInput" class="form-label giBold text-black">Email:</label>
                    {{signup_form.email}}
                    {{signup_form.password1}}
                    {{signup_form.password2}}
                </form>
            </div>
            <div class="modal-footer wi-fc mx-auto">
                <div class="row wi-fc mx-auto text-center">
                    <button type="button" class="btn btn-outline-primary giBold formToggle">Log in instead</button>
                </div>
                <div class="row wi-fc mx-auto">
                    <button type="button" class="btn btn-secondary mx-1" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary giBold mr-1" form="signupModalForm">Sign up</button>
                </div>
            </div>
        </div>
    </div>
</div>
