{% extends 'base.html' %}
{% block title %}Login{% endblock %}
{% block login %}<a class="nav-link active giBold" href="{% url 'login' %}">Login</a>{% endblock %}
{% block content %}
<div class="card card-body mx-auto wi-fc my-3">
    <div class="card-body mx-auto text-center" style="width: 18rem;">
        <div class="mb-3 wi-fc mx-auto">
            <h4 class="card-title">Log In</h4>
            <hr>
            {% if messages %}
            {% for message in messages %}
            <div class="alert alert-danger">
                {{ message }}
            </div>
            {% endfor %}
            {% endif %}
        </div>
        <form id="loginForm" class="row g-3" method="post">
            {% csrf_token %}
            <div class="col-12">
                {{form.username}}
            </div>
            <div class="col-12">
                {{form.password}}
            </div>
            <button class="btn btn-info wi-fc mx-auto" type="submit">Log In</button>
        </form>
        <a class="card-text" aria-label="create account" href="{% url 'signup' %}">Don't have an account?<br>Create one here</a>
    </div>
</div>
<div class="modal fade" id="login" tabindex="-1" aria-labelledby="loginTitle" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title giBold text-black" id="loginTitle">Login</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="post" id="loginForm" action="/accounts/login">
                    {% csrf_token %}
                    <label for="usernameInput" class="form-label giBold text-black">Username:</label>
                    {{login_form.username}}
                    <label for="passwordInput" class="form-label giBold text-black">Password:</label>
                    {{login_form.password}}
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Don't have an account?</button>
                <button type="submit" class="btn btn-primary giBold" form="loginForm">Log in</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}
