{% extends 'base.html' %}
{% block title %}Login{% endblock %}
{% block content %}
<div class="card card-body mx-auto wi-fc my-3">
    <div class="card-body mx-auto text-center" style="width: 18rem;">
        <div class="mb-3 wi-fc mx-auto">
            <h4 class="card-title">Log In</h4>
            <hr>
            {% if messages %}
            {% for message in messages %}
            <div class="alert alert-danger">
                {{ message }}
            </div>
            {% endfor %}
            {% endif %}
        </div>
        <form id="loginForm" class="row g-3" method="post">
            {% csrf_token %}
            <div class="col-12">
                {{form.username}}
            </div>
            <div class="col-12">
                {{form.password}}
            </div>
            <button class="btn btn-info wi-fc mx-auto" type="submit">Log In</button>
        </form>
        <a class="card-text" aria-label="create account" href="{% url 'signup' %}">Don't have an account?<br>Create one here</a>
    </div>
</div>
{% endblock %}
