{% extends 'base.html' %}
{% load static %}
{% block title %}Account{% endblock %}
{% block account %}<a class="nav-link active giBold" href="{% url 'profile' %}">Account</a>{% endblock %}
{% block content %}
<div class="container my-4">
    <div class="col-mx-2">
        {% if user.profile.pfp %}
        <div class="text-center">
            <img src="{{ user.profile.pfp.url }}" width="100" class="rounded-circle">
        </div>
        {% endif %}
        <div class="text-center mt-3">
            <h2 class="mt-2 mb-0">Hi, {{ user.username }}</h5>
            <div class="px-4 mt-1">
                {% if user.profile.bio %}
                <p class="card-text giBold text-black bg-light wi-fc mx-auto row p-1 border border-black">
                    {{user.profile.bio }}
                </p>
                {% endif %}
            </div>
            <div class="buttons">
                <button class="btn btn-light text-black px-4 ms-3" type="button" data-bs-toggle="modal" data-bs-target="#profileEdit" id="profileEditBtn">Edit profile</button>
            </div>
            <div class="modal fade" id="profileEdit" tabindex="-1" aria-labelledby="profileEditTitle" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title giBold text-black" id="profileEditTitle">Profile editor</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form method="post" id="profileEditForm">
                                {% if user.profile.pfp %}
                                <label for="pfpInput" class="form-label giBold text-black">Change profile picture:</label>
                                {% else %}
                                <label for="pfpInput" class="form-label giBold text-black">Add profile picture:</label>
                                {% endif %}
                                {{ profile_form.pfp }}
                                {% if user.profile.bio %}
                                <label for="bioInput" class="form-label pt-1 giBold text-black">Change bio:</label>
                                {% else %}
                                <label for="bioInput" class="form-label pt-1 giBold text-black">Add bio:</label>
                                {% endif %}
                                {{ profile_form.bio }}
                                <label for="usernameInput" class="form-label pt-1 giBold text-black">Change username:</label>
                                {{ user_form.username }}
                                <label for="emailInput" class="form-label pt-1 giBold text-black">Change email:</label>
                                {{ user_form.email }}
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary giBold" form="profileEditForm">Save changes</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block scripts %}
<script type="text/javascript" src="{% static 'accounts/js/accounts.js' %}"></script>
{% endblock %}