{% extends 'base.html' %}
{% load static %}
{% block styles %}
<link rel="stylesheet" type="text/css" href="{% static 'contact/css/contact.css' %}">{% endblock %}
{% block title %}Contact{% endblock %}
{% block contact %}<a class="nav-link active giBold" href="{% url 'contact' %}" aria-label="contact page">Contact</a>{% endblock %}
{% block content %}
<div class="container my-4">
    <div class="col-mx-2">
        {% if user.profile.pfp %}
        <div class="text-center">
            <img src="{{ user.profile.pfp.url }}" width="100" class="rounded-circle">
        </div>
        {% endif %}
        <div class="text-center mt-3">
            <h2 class="mt-2 mb-0">Hi, {{ user.username }}</h5>
            <div class="px-4 mt-1">
                {% if user.profile.bio %}
                <p class="card-text giBold text-black bg-light wi-fc mx-auto row p-1 border border-black">
                    {{user.profile.bio }}
                </p>
                {% endif %}
            </div>
            <ul class="social-list">
                <li><i class="fa fa-facebook"></i></li>
                <li><i class="fa fa-dribbble"></i></li>
                <li><i class="fa fa-instagram"></i></li>
                <li><i class="fa fa-linkedin"></i></li>
                <li><i class="fa fa-google"></i></li>
            </ul>
            <div class="buttons">
                <button class="btn btn-primary px-4 ms-3" type="button" data-bs-toggle="modal" data-bs-target="profile-edit">Edit profile</button>
            </div>
            <div class="modal" id="profile-edit" tabindex="-1">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Profile editor</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <form method="post">
                            <div class="modal-body">
                                <label for="pfpInput">Change profile picture:</label>
                                {{ profile_form.pfp }}
                                <label for="bioInput">Change bio:</label>
                                {{ profile_form.bio }}
                                <label for="usernameInput">Change username:</label>
                                {{ user_form.username }}
                                <label for="emailInput">Change email:</label>
                                {{ user_form.email }}
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-primary">Save changes</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}