{% extends 'base.html' %}
{% load static %}
{% block styles %}
{% endblock %}
{% block title %}{{ userdetail.username }}{% endblock %}
{% block account %}<a class="nav-link active giBold" href="{% url 'profile' %}">Account</a>{% endblock %}
{% block content %}
<div class="container my-4">
    <div class="col-6 mx-auto">
        <div class="text-center mt-3 rounded p-4 bg-light text-black">
            {% if userdetail.profile.pfp %}
            <img src="{{ userdetail.profile.pfp.url }}" width="100" class="rounded-circle">
            {% else %}
            <img src="{% static 'base/img/default_pfp.png' %}" width="100" class="rounded-circle">
            {% endif %}
            <h2 class="mt-2 mb-0">@{{ userdetail.username }}</h2>
            {% if userdetail.profile.bio %}
            <p class="card-text">{{userdetail.profile.bio }}</p>
            {% else %}
            <p class="card-text">User has no bio</p>
            {% endif %}
        </div>
        <div class="text-center mt-3 rounded p-4 bg-light text-black">
            {% if userdetail.collection_set.all.exists %}
                <h2 class="mt-2 mb-0 giBold">{{ userdetail.username }}'s Collections</h2>
                {% for collection in userdetail.collection_set.all %}
                    <h3 class="giBold">{{ collection.name }}:</h3>
                        {% if collection.image_set.all.exists %}
                            {% for image in collection.image_set.all %}
                            <div class="p-3 m-2 wi-fc mx-auto">
                                <img class="rounded" src="{{ image.img.url }}" width="300">
                            </div>
                            {% endfor %}
                        {% else %}
                        <p>Collection is empty</p>
                    {% endif %}
                {% endfor %}
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}