{% extends 'base.html' %}
{% load static %}
{% block styles %}
{% endblock %}
{% block title %}{{ userdetail.username }}{% endblock %}
{% block account %}<a class="nav-link active giBold" href="{% url 'profile' %}">Account</a>{% endblock %}
{% block content %}
<div class="container my-4">
    <div class="col-6 mx-auto">
        <div class="text-center mt-3 rounded p-4 bg-light text-black">
            <div class="rounded wi-fc mx-auto border border-black p-4">
                {% if userdetail.profile.pfp %}
                <img src="{{ userdetail.profile.pfp.url }}" width="100" class="rounded-circle">
                {% else %}
                <img src="{% static 'base/img/default_pfp.png' %}" width="100" class="rounded-circle me-2">
                {% endif %}
                <span class="d-block mt-2">
                    <h3 class="me-2 d-inline">{{ userdetail.username }}</h3>
                    {% for follower in followers %}
                    {% if request.user.username in follower.follower.user.username %}
                    <p class="giBold d-inline">following</p>
                    {% endif %}
                    {% endfor %}
                    <small class="d-block">{{ follower_count }} followers</small>
                </span>
                <span class="d-block my-2 pb-2 border-bottom border-black">
                    {% for follower in followers %}
                    {% if request.user.username in follower.follower.user.username %}
                    <a href="{% url 'unfollowuser' userdetail.id %}" class="me-2 text-reset text-decoration-none">
                        <i class="fs-4 fa-solid fa-user-minus"></i>
                    </a>
                    {% else %}
                    <a href="{% url 'followuser' userdetail.id %}" class="me-2 text-reset text-decoration-none">
                        <i class="fs-4 fa-solid fa-user-plus"></i>
                    </a>
                    {% endif %}
                    {% endfor %}
                </span>
                {% if userdetail.profile.bio %}
                <p class="card-text">{{userdetail.profile.bio }}</p>
                {% else %}
                <p class="card-text">User has no bio</p>
                {% endif %}
            </div>
        </div>
        <div class="text-center mt-3 rounded p-4 bg-light text-black">
            {% if userdetail.collection_set.all.exists %}
                <h2 class="mt-2 mb-0 giBold">{{ userdetail.username }}'s Collections</h2>
                {% for collection in userdetail.collection_set.all %}
                    <h3 class="giBold">{{ collection.name }}:</h3>
                        {% if collection.image_set.all.exists %}
                            {% for image in collection.image_set.all %}
                            <div class="p-3 m-2 wi-fc mx-auto">
                                <img class="rounded" src="{{ image.img.url }}" width="300">
                            </div>
                            {% endfor %}
                        {% else %}
                        <p>Collection is empty</p>
                    {% endif %}
                {% endfor %}
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}