.wi-fc {
    width: fit-content;
}

.card {
    max-width: fit-content;
}

#languagesPanel .col {
    width: 300px;
}

#dev-card {
    max-width: none;
    text-align: center;
}

#resume-card, #contact-card {
    max-width: none;
}
