@font-face {
    font-family: 'Glacial Indifference Bold';
    src: url('../fonts/GlacialIndifference-Bold.woff2');
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgb(203, 203, 203);
    box-shadow: inset 0 0 6px rgb(168, 168, 168);
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: rgb(80, 80, 80);
}

body,
html {
    height: 100%;
}

.navbar-brand {
    padding-left: 5px;
    padding-right: 80px;
    margin: 0;
}

#adminDropdown {
    width: 125px;
    padding-right: 35px;
}

.giBold {
    font-family: 'Glacial Indifference Bold';
}

.bg {
    position: fixed;
    top: 0;
    background-image: url("../img/bg.webp");
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 0;
}

.wi-fc {
    width: fit-content;
    width: -moz-fit-content;
}

#languagesPanel .col {
    width: 300px;
}

#dev-card {
    max-width: none;
    text-align: center;
}

#resume-card,
#contact-card,
#carousel .carcard {
    max-width: none;
}

#navbar a,
.navbar-brand {
    color: #fff;
}

body {
    height: 100vh;
    z-index: 1;
}

main {
    z-index: 1;
}

#adminDropdown ul {
    left: initial;
    right: 0;
}